<div class="modal-header">
    <h4 class="modal-monto">{{createMode ? 'Crear Ingreso' : 'Editar Ingreso'}}</h4>
    <button type="button" class="btn close bg-danger" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="ingresoForm" (ngSubmit)="saveingreso()">
        <div class="form-group">
            <label for="fecha">Fecha*</label>
            <input type="date" id="fecha" placeholder="Fecha" class="form-control" formControlName="fecha" />
            <span style="color:Red;"
                *ngIf="ingresoForm.controls['fecha'].touched && ingresoForm.controls['fecha'].errors?.required">La fecha
                es requerido.</span>
        </div>

        <div class="form-group">
            <label for="descripcion">Descripción*</label>
            <textarea id="descripcion" placeholder="descripcion" class="form-control"
                formControlName="descripcion"></textarea>
            <span style="color:Red;"
                *ngIf="ingresoForm.controls['descripcion'].touched && ingresoForm.controls['descripcion'].errors?.required">La
                descripción
                es requerido.</span>
        </div>
        <div class="form-group">
            <label for="monto">Monto*</label>
            <input type="text" id="monto" placeholder="monto" class="form-control" formControlName="monto" />
            <span style="color:Red;"
                *ngIf="ingresoForm.controls['monto'].touched && ingresoForm.controls['monto'].errors?.required">El monto
                es requerido.</span>
        </div>
        <div class="form-group">
            <label for="categoriaIngreso">Categoría Ingreso*</label>
            <select type="text" id="categoriaIngreso" placeholder="categoriaIngreso" class="form-control"
                formControlName="categoriaIngreso">
                <option selected>Choose...</option>
                <option>...</option>
            </select>
            <span style="color:Red;"
                *ngIf="ingresoForm.controls['categoriaIngreso'].touched && ingresoForm.controls['categoriaIngreso'].errors?.required">La
                categoria
                es requerida.</span>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cerrar</button>
    <button class="btn btn-primary" (click)="saveIngreso()" [disabled]="ingresoForm.invalid">Guardar</button>
</div>