<div class="card mb-3">
        <div class="card-header bg-primary ">
            <button class="btn text-white " (click)="clickAddEgreso()">Agregar egreso</button>
        </div>
        <div class="card-body">
            <table class="table table-striped" *ngIf="egresos && egresos.length > 0">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Categoría</th>
                        <th>Descripción</th>
                        <th>Monto</th>
                        <th>Período</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let egreso of egresos, let index = index">
                        <td>{{egreso.fecha | date}}</td>
                        <td>{{egreso.categoriaEgreso}}</td>
                        <td>{{egreso.descripcion}}</td>
                        <td>{{egreso.monto}}</td>
                        <td *ngIf="egreso.periodo==='0'">Quincena I</td>
                        <td *ngIf="egreso.periodo==='1'">Quincena II</td>
                        <td></td>
                        <td>
                            <button class="btn btn-primary" (click)="handleEditClick(egreso)">Edit</button>
                            <button class="btn btn-danger" (click)="handleDeleteClick(egreso.id, index)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
