<button class="btn btn-primary" (click)="clickAddEgreso()">Add egreso</button>

<table class="table table-striped" *ngIf="egresos && egresos.length > 0">
    <thead>
        <tr>
                <th>Fecha</th>
                <th>Categoría</th>
                <th>Descripción</th>
                <th>Monto</th>
        </tr>
    </thead>
    <tbody>
            <tr *ngFor="let egreso of egresos, let index = index">
                    <td>{{egreso.fecha | date}}</td>
                    <td>{{egreso.categoriaegreso}}</td>
                    <td>{{egreso.descripcion}}</td>
                    <td>{{egreso.monto}}</td>
                    <td>
                        <button class="btn btn-primary" (click)="handleEditClick(egreso)">Edit</button>
                        <button class="btn btn-danger" (click)="handleDeleteClick(egreso.id, index)">Delete</button>
                    </td>
                </tr>
    </tbody>
</table>
