<div class="card mb-3">
    <div class="card-header bg-primary ">
        <button class="btn text-white " (click)="clickAddIngreso()">Agregar Categoria Egreso</button>
    </div>
    <div class="card-body">
        <table class="table table-striped" *ngIf="ingresos && ingresos.length > 0">
            <thead>
                <tr>
                    <th>Categoria</th>                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ingreso of ingresos, let index = index">
                    <td>Categoria</td>                    
                    <td>
                        <button class="btn btn-primary" (click)="handleEditClick(ingreso)">Edit</button>
                        <button class="btn btn-danger" (click)="handleDeleteClick(ingreso.id, index)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
