

<div class="modal-header">
    <h4 class="modal-monto">{{createMode ? 'Crear Ingreso' : 'Editar Ingreso'}}</h4>
    <button type="button" class="btn close bg-danger" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="ingresoForm" (ngSubmit)="saveingreso()">        
        
        <div class="form-group">
            <label for="monto">Nombre</label>
            <input type="text" id="monto" placeholder="monto" class="form-control" formControlName="monto" />
            <span style="color:Red;"
                *ngIf="ingresoForm.controls['monto'].touched && ingresoForm.controls['monto'].errors?.required">El monto
                es requerido.</span>
        </div>
        
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cerrar</button>
    <button class="btn btn-primary" (click)="saveIngreso()" [disabled]="ingresoForm.invalid">Guardar</button>
</div>